@charset "UTF-8";
* {
  margin: 0px;
  padding: 0px;
  font-family: '微软雅黑';
}
#app {
  text-align: center;
  margin-top: 0.4rem;
}
.el-input {
  width: 80% !important;
  margin: 0 auto !important;
  border-right: none !important;
  position: relative !important;
}
.el-input__inner {
  width: 100% !important;
  height: 1.2rem !important;
  border: 0.01333333rem solid #ddd !important;
  font-size: 0.46666667rem !important;
  border-radius: 0.10666667rem !important;
}
.el-icon-search {
  position: absolute;
  font-size: 0.66666667rem;
  top: 0.26666667rem;
  right: 0.4rem;
}
.bt {
  width: 100%;
  height: 2.66666667rem;
  text-align: center;
  margin-top: 1.33333333rem;
}
.button {
  width: 80% !important;
  height: 1.06666667rem !important;
  margin: 0 auto;
  font-size: 0.46666667rem !important;
  line-height: 200% !important;
  background: #0F8EEF !important;
  border-radius: 0.13333333rem !important;
  margin-top: 2.66666667rem !important;
}
.search {
  float: left;
  color: #2795ef;
}
.res {
  font-size: 0.66666667rem;
  position: absolute;
  top: 0.53333333rem;
  color: #000000;
  width: 100%;
  height: 2.66666667rem;
  text-align: center;
  line-height: 2.66666667rem;
}
